{% extends "base.html" %}
{% load static %}

{% block title %}Inicio - Proyecto{% endblock %}

{% block content %}
<style>
    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }
    .text-content {
        max-width: 600px;
    }
    h1 {
        font-size: 2em;
        color: #000066;
    }
    .text-content p {
        color: #444;
    }
    .btn-services {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 20px;
        background-color: #0e5846;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .image-container img {
        width: 600px;
    }
</style>

<section class="main">
    <div class="text-content">
        <h1>Bienvenido a <strong>'proyecto'</strong></h1>
        <p>En nuestra ciudad, la gestión adecuada de los residuos es fundamental para proteger el medio ambiente y garantizar la salud pública. Separar los residuos y desecharlos correctamente ayuda a reducir la contaminación, facilita el reciclaje y disminuye la cantidad de basura que termina en los rellenos sanitarios.</p>
        <a href="#" class="btn-services">Servicios</a>
    </div>
    <div class="image-container">
        <img src="{% static 'images/Contenedores-para-el-reciclaje.jpg' %}" class="img-fluid rounded shadow-lg" alt="Contenedores de reciclaje">
    </div>
</section>
{% endblock %}
