{% extends "base.html" %}
{% load static %}

{% block title %}Registro de Usuario{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-header text-white bg-success text-center">
                    <h2>Registrar Nuevo Usuario</h2>
                </div>
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        
                        {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ field.errors|striptags }}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        
                        <button type="submit" class="btn btn-success w-100">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Agregar estilos adicionales si es necesario -->
<style>
    body {
        background-color: #f0f8ea; /* Verde claro tipo naturaleza */
    }
    .card {
        border-radius: 15px;
          
    }
    .card-header {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .btn-success {
        background-color: #55a246;
        border: none;
    }
    .btn-success:hover {
        background-color: #55a246;
    }
</style>
{% endblock %}


