<!-- templates/informes/informe_exitoso.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe Subido</title>
</head>
<body>
    <h1>Informe Subido con Éxito</h1>
    <p>Descripción: {{ descripcion }}</p>
    <p>El archivo ha sido cargado correctamente. Puedes descargarlo desde <a href="{{ file_url }}" target="_blank">aquí</a>.</p>
    <a href="{% url 'experto_dashboard' %}">Volver al Dashboard</a>
</body>
</html>